<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <a href="/" style="font-size: medium;">tivrfoa blog</a> - <a href="#">&#11014;</a>
                <ul class="contact-list">
                    <li><a class="u-email" href="mailto:lescoutinhovr@hotmail.com">lescoutinhovr@hotmail.com</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a href="https://github.com/tivrfoa"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                            </svg> <span class="username">tivrfoa</span></a></li>
                    <li><a href="https://www.twitter.com/tivrfoa"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
                            </svg> <span class="username">tivrfoa</span></a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>Java developer learning Rust</p>
            </div>
        </div>

    </div>

</footer>